// MAIN BUTTONS
.button {
    width: 100%;
    height: 47px;
    border-radius: var(--button-main-radius);
    border: none;
    padding-inline: 43px;
    padding-block: auto;
    font-weight: 500;
    font-family: var(--font-family-base);
    font-size: 16px;
    line-height: 20.8px;
    text-align: center;

    color: var(--color-light);
    background-color: var(--button-color-dark);
    cursor: pointer;
    transition: var(--transition-duration);

    @include hover {
            color: var(--button-color-dark);
            background-color: var(--button-color-accent);
    }; 

    @include desktop {
        width: 263px;
        height: 72px;
    }
}

.button-alt {
    background-color: var(--button-color-light);
    border: none;
    color: var(--button-color-dark);

    @include hover {
        color: var(--color-light);
        background-color: var(--button-color-dark);
    }
  
    @include desktop {
        border: var(--border-button);
        background-color: transparent;
        
    }
}

// CAROUSEL BUTTONS
.button-carousel {
 @include reset-button;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(  --color-main);
    transition: var(  --transition-duration);
    cursor: pointer;
  
    @include desktop {
        width: 44px;
        height: 44px;
    }
    @include hover {
        background-color: var(   --button-color-accent);
    }
    &:disabled {
        background-color: var(   --button-color-disabled);
        cursor: not-allowed;
    }
}

.svg {
    
    & svg {
        width: 10px;
        height: 18px;
        fill: none;

        @include desktop {
            width: 12px;
            height: 20px;
        }
    }
    & path {
        stroke: var(  --color-light);
        stroke-width: 2px;
        stroke-linecap:square;
    }
}

// INFO BUTTONS
.button-info {
    @include reset-button;
    width: 113px;
    height: 35px;
    padding: auto 12px;
    border-radius: 62px;
    border: var(  --border-button-info);
    color: var(  --color-accent-alt);
    background-color: var(  --background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;

    @include hover { 
        color: var(   --color-light);
        background-color: var(    --button-color-accent-alt);
    }
}



