.button {
    width: 263px;
    height: 72px;
    border-radius: var(--button-main-radius);
    border: none;
    padding-inline: 43px;
    padding-block: auto;
    font-weight: 500;
    font-family: var(--font-family-base);
    font-size: 16px;
    line-height: 20.8px;
    text-align: center;

    color:var(  --color-light);
    background-color: var(--button-color-dark);
    cursor: pointer;
    transition: var(--transition-duration);

    &:hover {
        color:var(   --button-color-dark);
        background-color: var(   --button-color-accent);
    }

    @include mobile {
        width: 100%;
        height: 47px;
    }
}

.button-alt {
    border: var( --border-button);
    background-color: transparent;
    color:var(   --button-color-dark);

    &:hover {
        color:var(  --color-light);
        background-color: var(--button-color-dark);
    }

    @include mobile {
        background-color: var( --button-color-light);
        border: none;
    }
}