.button {
    width: 170px;
    //sheight: 40px;
    border-radius: var(--border-radius-small);
    border: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
}



