.hero {
  width: 375px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;

  @include desktop {
    width: 542px;
    margin-top: 62px;
  }

  @include tablet {
    width: 400px;

  }

  &__title {
    text-align: left;

    & span {
      display: block;
      text-align: center;
    }

    & p {
      text-align: right;
    }
  }

  &__description {
    margin-top: 24px;
    text-align: left;

    @include desktop {
      text-align: center;
    }
  }

  &__buttons-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
    margin: 40px 0;

    @include tablet {
      // flex-direction: column;
      align-self: flex-start;
    }
  }

}