.hero {
  @include fluid-width(542, 335);
  margin-top: 40px;
  padding-bottom: 291px;
  display: flex;
  flex-direction: column;
  margin-inline:auto;

  @include desktop {
    margin-top: 62px;
    padding-bottom: 132px;
    margin-inline:0;
  }

  @include tablet {
    padding-bottom: 132px;
    margin-inline:0;
  }

  &__title {
    text-align: left;

    & span {
      display: block;
      text-align: center;

      & span {
        text-align: right;
      }
    }
  }

  &__description {
    margin-top: 24px;
    text-align: left;

    @include desktop {
      text-align: center;
    }
  }

  &__buttons-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
    margin: 40px 0;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }

}