.introduction {
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url('../images/bg-title-desktop.png');
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: no-repeat;
  
     @include mobile {
      background-image: url('../images/bg-title-mobile.png');
      min-height: 812px;
     }
     @include desktop-above {
      background-image: url('../images/bg-title.png');
     }

     &__running-line {
        position: absolute;
        bottom:-10px;
        z-index: 9999;
    }
  }