.overall-info {
    margin-top: 86px;

    @include desktop {
        margin-top: 140px;
    }

    &__topic {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @include desktop {
            display: grid;
            justify-content: space-between;
            align-items: center;
            grid-template-columns: 2fr 1fr;
        }

        & span {
            color: var(--color-accent);
            font-weight: 700;
        }

        & img {
            width: 335px;
            height: 213px;
          margin-inline: auto;


            @include desktop {
                grid-row: span 2;
                width: 394px;
                height: 250px;
                margin-left: auto;
                justify-self: flex-end;

            }
        }
        #block-info {
            @include desktop {
                grid-row: span 2;
            }
        }
        &__h3 {
            text-align: left;
    
            @include desktop {
                min-width: 764px;
            }
        }
    }

    .description__content {
        display: flex;
        flex-direction: column;
        flex: 1;

        @include desktop {
            max-width: 704px;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 20px;

        @include desktop {
            margin-top: 64px;
            display: grid;
            justify-content: space-between;
            grid-template-columns: 1fr 1fr;
            gap: 17px;
        }

        & span {
            color: var(--color-accent);
            font-weight: 700;
        }

        & img {
            width: 335px;
            height: 402px;
            margin-inline: auto;

            @include desktop {
                width: 474px;
                height: 528px;
            }
        }
      
    }

    &__comment {
        margin-top: 30px;

        @include desktop {
            margin-top: 38px;
        }
    }
}