.overall-info {
    margin-top: 86px;

    @include desktop {
        margin-top: 140px;
    }

    &__h3 {
        text-align: left;

        @include desktop {
            min-width: 764px;
        }
    }

    &__topic {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @include desktop {
            display: grid;
            justify-content: space-between;
            grid-template-columns: 1fr 1fr;
        }

        & span {
            color: var(--color-accent);
            font-weight: 700;
        }

        & img {
           
            width: 335px;
            height: 213px;
            justify-self: right;

            @include desktop {
                grid-row: span 2;
                width: 394px;
                height: 250px;
            }
        }
    }

    &__description {
        margin-top: 64px;
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr;
        gap: 44px;

        & span {
            color: var(--color-accent);
            font-weight: 700;
        }

        & img {
           
            width: 335px;
            height: 213px;
            justify-self: left;

            @include desktop {
                width: 609px;
                height: 528px;
            }
        }
    }

    table {
        margin: 44px 0 32px 0;
        width: 100%;
        border-collapse: collapse;
        border: 0;
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
    

        tr {
            height: 56px;
            
        }
            th {
                font-weight:400;
                width: 322px;
            }
            th,
            td {
                border: var(  --border-table-inner);
                padding-inline: 16px;
                padding-block: auto;
                text-align: left;
            }

            & span {
                text-decoration: line-through;
                color: var(--color-accent);
                font-weight: 700;
                margin-right:12px ;
            }
        
    }
    .border-none {
        border-collapse: collapse;
        border: none;
      }
     
      .border-none tr:first-child td {
        border-top: none;
      }
      .border-none tr:last-child td {
        border-bottom: none;
      }
      .border-none tr td:first-child {
        border-left: none;
      }
      .border-none tr td:last-child {
        border-right: none;
      }
      .border-none tr:first-child th {
        border-top: none;
      }
      .border-none tr:last-child th {
        border-bottom: none;
      }
      .border-none tr th:first-child {
        border-left: none;
      }
      .border-none tr th:last-child {
        border-right: none;
      }

      .description__content {
        display: flex;
        flex-direction: column;
       

      }
}