.participants {

    &__title {
        margin-bottom: 40px;

        @include desktop {
            margin-bottom: 60px;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s ease-in-out;

        @include desktop {
            gap: 20px;
        }
    }

    &__buttons-wrapper {
        margin-top: 28px;

        @include desktop {
            margin-top: 0;
        }
    }

    .person {
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin-inline: auto;
        transition: 1s ease-in-out;

        @include desktop {
            width: 394px;
        }
        @include tablet {
            width: 335px;
        }

        &--active {
            display: flex;
        }

        &__img {
            width: 244px;
            height: 244px;

            @include desktop {
                width: 320px;
                height: 320px;
            }
        }

        &__name {
            font-weight: 600;
            font-size: 24px;
            margin: 28px 0 6px 0;
        }

        &__rating {
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 20px;
            opacity: 60%;
        }
    }



}