#frame-stages-slider {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 335px;
    align-items: flex-start;
    align-self: center;

    @include desktop {
        display: block;
        width: 100%;
    }

    @include tablet {
        @include fluid-width($max:650,$min:335);
    }
}
.showed-stages-wrapper {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 28px;

    width: 100%;
    height: 300px;
    background-image: url(../images/stage-bg.png);
    background-size: cover;
    padding: 62px 20px 20px 20px;


    @include desktop {
        display: flex;
        height: 100%;
        padding: 20px;
    }
    @include tablet {
        padding-inline:clamp(20px,#{calc(80 / 1222*100)}vw,80px);
    }

    &:nth-child(3) {
        @include desktop {
            grid-row: 1/3;
            grid-column: 3/4;
        }
    }
    &:last-child {
        @include desktop {
            grid-column: 2/4;
            padding-right: 290px;
        }
    }
}

.stages {
    display: flex;
    flex-direction: column;
   

    &__title {
        margin-bottom: 148px;

        @include desktop {
            white-space: nowrap;
            align-self: flex-start;
            justify-self: start;
            margin-bottom: 54px;
        }

        &--row {
            @include desktop {
                display: flex;
                flex-wrap: nowrap;
                gap: 20px;
                align-items: center;
            } 
        }
    }

    &__comment {
        width: 100%;
        margin-top: 12px;

        @include desktop {
            margin-top: 0;
            width: 280px;
            white-space: normal;
        } 
    }
    &__img-wrapper {
        position: relative;
    }

    &__img {
        position: absolute;
        width: 335px;
        height: 182px;
        top: -128px;
        right: 0px;
        z-index: 9999;

        -webkit-filter: var(--border-image-outside);
        filter: var(--border-image-outside);

        @include desktop {
            width: 394px;
            height: 244px;
            top: 148px;
            right: -62px;
    }
    }
    &__content {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 20px;
        transition: 1s ease-in-out;

        @include desktop {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
        }
      
    }

    &__buttons-wrapper {
        margin-top: 28px;

        @include desktop {
            display: none;
        }
    }

    &__counter {
        display: none;
    }

    &__pagination--active {
        background-color: var(--color-main);
    }

    .stage-card {
        display: flex;
        flex-wrap: nowrap;
        gap: 16px;

        &__order {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            font-size: 20px;
            font-weight: 600;
            border-radius: 50%;
            background-color: var(--background-color);
        }

        &__content {
            font-size: 18px;
            line-height: 21.6px;
            font-weight: 500;

            @include desktop {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
}