table {
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;

    @include desktop {
        margin-top: 44px;
    }

    tr {
        height: 56px;
        width: 100%;
        display: inline-block;
        border-bottom: var(--border-table-inner);
        padding-block: auto;

   
    }

    th {
        font-weight: 400;
        width: 322px;
        color: var(--color-table);
        
        @include desktop {
            width: 322px;
            border-right: var(--border-table-inner);
        }
    }

    th,
    td {
        display: inline;
        white-space: nowrap;
        vertical-align: middle;
        padding-inline: 6px;

        @include desktop {
            padding-inline: 16px;
            padding-block: auto;
            text-align: left;

        }
    }
}
.border-none span {
    text-decoration: line-through;
    text-decoration-color: var(--color-accent);
    color: var(--color-main);
    font-weight: 700;
    margin-right: 12px;
}

.border-none {
    border-collapse: collapse;
    border: none;
}

.border-none th:not(:last-child) {
    border-right: none;

    @include desktop {
        border-right: var(--border-table-inner);
    }
}

.border-none tr:not(:last-child) {
    border-bottom: var(--border-table-inner);
}

.border-none tr:last-child {
    border-bottom: none;

    @include desktop {
        border-bottom: var(--border-table-inner);
    }
}

.border-none th:last-child {

    
    @include desktop {
        display: block;
        border-right: var(--border-table-inner);
    }
}

.border-none {
    border-collapse: collapse;
    border: none;
}

.border-none tr:first-child td {
    border-top: none;
}

.border-none tr:last-child td {
    border-bottom: none;
}

.border-none tr td:first-child {
    border-left: none;
}

.border-none tr td:last-child {
    border-right: none;
}

.border-none tr:first-child th {
    border-top: none;
}

.border-none tr:last-child th {
    border-bottom: none;
}

.border-none tr th:first-child {
    border-left: none;
}

.border-none tr th:last-child {
    border-right: none;
}

.border-none tr:last-child {
    @include mobile {
        border-bottom: none;
    }
}