table {
    margin-top: 44px;
    width: 100%;
    border-collapse: collapse;
    border: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;

    @include mobile {
        margin-top: 20px;
    }

    tr {
        height: 56px;

        @include mobile {
            width: 100%;
            display: inline-block;
            border-bottom: var(--border-table-inner);
            vertical-align: middle;
        }

        @include tablet {
            width: 100%;
            display: inline-block;
            border-bottom: var(--border-table-inner);
            vertical-align: middle;
        }
    }

    th {
        font-weight: 400;
        width: 322px;
        opacity: 70%;
    }

    th,
    td {
        border: var(--border-table-inner);
        padding-inline: 16px;
        padding-block: auto;
        text-align: left;


        @include mobile {
            display: inline;
            border: none;
            vertical-align: middle;
            white-space: nowrap;
            padding-inline: 6px;
        }

        @include tablet {
            display: inline;
            border: none;
            vertical-align: middle;
            white-space: nowrap;
            padding-inline: 6px;
        }
    }
}

.border-none {
    border-collapse: collapse;
    border: none;

    & span {
        text-decoration: line-through;
        text-decoration-color: var(--color-accent);
        color: var(--color-main);
        font-weight: 700;
        margin-right: 12px;
    }

    & tr:first-child td {
        border-top: none;
    }

    & tr:last-child td {
        border-bottom: none;
    }

    & tr td:first-child {
        border-left: none;
    }

    & tr td:last-child {
        border-right: none;
    }

    & tr:first-child th {
        border-top: none;
    }

    & tr:last-child th {
        border-bottom: none;
    }

    & tr th:first-child {
        border-left: none;
    }

    & tr th:last-child {
        border-right: none;
    }

    & tr:last-child {
        @include mobile {
            border-bottom: none;
        }

        @include tablet {
            border-bottom: none;
        }
    }
}
