:root {

  // overall
  --font-family-title: 'Merriweather', serif;
  --font-family-base: 'Golos Text', sans-serif;

  --color-main: #313131;
  --color-light: #FFFFFF;
  --color-accent: #F54932;
  --color-accent-alt: #3057A2;

  --background-color: #FFFFFF;
  --background-color-alt: #E9DED4;

// table  
  --border-table-inner: 2px solid #D0D0D0;
  --color-table: #6F6F6F;

// buttons
  --button-color-light: #ffffffd2;
  --button-color-dark: #1F1F1F;
  --button-color-accent: #FBCE51;
  --button-color-disabled:#D6D6D6;
  --button-color-accent-alt: #3057A2;

  --button-main-radius: 66px;
  --border-alt-radius: 62px;

  --border-button: 2px solid var(  --button-color-dark);
  --border-button-info: 1px solid var(    --button-color-accent-alt);

  --button-main-height: 72px;
  --button-main-mobile-height: 47px;
  --button-alt-height: 35px;

  --pagination-bg-default:#D9D9D9;

// sizes and paddings
  --container-width: 1222px;
  --container-padding-x: 20px;

  --desktop-section-padding-y: 100px;
  --mobile-section-padding-y: 60px;

  --transition-duration: 0.2s;

  // images
  --border-image-outside:drop-shadow(4px 4px 0 var(--background-color)) 
drop-shadow(-4px -4px 0 var(--background-color));

}