@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --font-family-title: "Merriweather", serif;
  --font-family-base: "Golos Text", sans-serif;
  --color-main: #313131;
  --color-light: #FFFFFF;
  --color-accent: #F54932;
  --color-accent-alt: #3057A2;
  --background-color: #FFFFFF;
  --background-color-alt: #E9DED4;
  --border-table-inner: 2px solid #D0D0D0;
  --color-table: #6F6F6F;
  --button-color-light: #ffffffd2;
  --button-color-dark: #1F1F1F;
  --button-color-accent: #FBCE51;
  --button-color-accent-alt: #3057A2;
  --button-main-radius: 66px;
  --border-alt-radius: 62px;
  --border-button: 2px solid var( --button-color-dark);
  --button-main-height: 72px;
  --button-main-mobile-height: 47px;
  --button-alt-height: 35px;
  --container-width: 1222px;
  --container-padding-x: 20px;
  --desktop-section-padding-y: 100px;
  --mobile-section-padding-y: 60px;
  --transition-duration: 0.2s;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 375px) {
  .hidden-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(16px, 1.47299509vw, 18px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-main);
  background-color: var(--background-color);
  margin-inline: auto;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}
@media ((min-width: 376px) and (max-width: 1261px)) {
  .container {
    padding-inline: clamp(var(--container-padding-x), 5vw, 50px);
  }
}
@media (min-width: 1262px) {
  .container {
    width: calc(var(--container-width) + var(--container-padding-x) * 2);
  }
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-family: var(--font-family-title);
  font-weight: 400;
  text-transform: uppercase;
  color: inherit;
}

h1, .h1 {
  font-size: clamp(36px, 4.9099836334vw, 60px);
  line-height: clamp(39px, 5.4009819967vw, 66px);
}

h2, .h2 {
  font-size: clamp(36px, 4.41898527vw, 54px);
}

h3, .h3 {
  font-size: clamp(28px, 2.94599018vw, 36px);
}

h4, .h4 {
  font-size: clamp(16px, 1.9639934534vw, 24px);
}

.comments {
  font-size: clamp(18px, 1.6366612111vw, 20px);
  color: var(--color-accent-alt);
}

.button {
  width: 100%;
  height: 47px;
  border-radius: var(--button-main-radius);
  border: none;
  padding-inline: 43px;
  padding-block: auto;
  font-weight: 500;
  font-family: var(--font-family-base);
  font-size: 16px;
  line-height: 20.8px;
  text-align: center;
  color: var(--color-light);
  background-color: var(--button-color-dark);
  cursor: pointer;
  transition: var(--transition-duration);
}
.button:hover {
  color: var(--button-color-dark);
  background-color: var(--button-color-accent);
}
@media (min-width: 1262px) {
  .button {
    width: 263px;
    height: 72px;
  }
}

.button-alt {
  border: var(--border-button);
  background-color: transparent;
  color: var(--button-color-dark);
}
.button-alt:hover {
  color: var(--color-light);
  background-color: var(--button-color-dark);
}
@media (max-width: 375px) {
  .button-alt {
    background-color: var(--button-color-light);
    border: none;
  }
}
@media ((min-width: 376px) and (max-width: 1261px)) {
  .button-alt {
    background-color: var(--button-color-light);
    border: none;
  }
}

.introduction {
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url(/test-projects/yandex-crowd/images/bg-title-desktop.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
@media (max-width: 375px) {
  .introduction {
    background-image: url(/test-projects/yandex-crowd/images/bg-title-mobile.png);
    min-height: 812px;
  }
}
@media (min-width: 1367px) {
  .introduction {
    background-image: url(/test-projects/yandex-crowd/images/bg-title.png);
  }
}

.header {
  padding-top: 26px;
}
@media (max-width: 375px) {
  .header {
    padding-top: 18px;
  }
}
.header__logo {
  width: 245px;
  height: 36px;
}
@media (max-width: 375px) {
  .header__logo {
    max-width: 213px;
    max-height: 32px;
  }
}

.section {
  padding-block: var(--section-padding-y);
}

.hero {
  width: clamp(335px, 44.3535188216vw, 542px);
  margin-top: 40px;
  padding-bottom: 291px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1262px) {
  .hero {
    margin-top: 62px;
    padding-bottom: 132px;
  }
}
@media ((min-width: 376px) and (max-width: 1261px)) {
  .hero {
    padding-bottom: 132px;
  }
}
.hero__title {
  text-align: left;
}
.hero__title span {
  display: block;
  text-align: center;
}
.hero__title p {
  text-align: right;
}
.hero__description {
  margin-top: 24px;
  text-align: left;
}
@media (min-width: 1262px) {
  .hero__description {
    text-align: center;
  }
}
.hero__buttons-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  margin: 40px 0;
}
@media ((min-width: 376px) and (max-width: 1261px)) {
  .hero__buttons-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.running-line {
  position: absolute;
  bottom: -10px;
  z-index: 9999;
  width: 100%;
  height: 38px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: var(--color-accent);
  color: var(--color-light);
  overflow: hidden;
  margin-top: auto;
  white-space: nowrap;
  align-items: center;
}
@media (min-width: 1262px) {
  .running-line {
    height: 60px;
    bottom: -60px;
  }
}
@media (min-width: 1367px) {
  .running-line {
    height: 60px;
    bottom: -60px;
  }
}

.running-line p {
  animation: running-text 20s linear infinite;
}

@keyframes running-text {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.overall-info {
  margin-top: 86px;
}
@media (min-width: 1262px) {
  .overall-info {
    margin-top: 140px;
  }
}
.overall-info__h3 {
  text-align: left;
}
@media (min-width: 1262px) {
  .overall-info__h3 {
    min-width: 764px;
  }
}
.overall-info__topic {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 1262px) {
  .overall-info__topic {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
  }
}
.overall-info__topic span {
  color: var(--color-accent);
  font-weight: 700;
}
.overall-info__topic img {
  width: 335px;
  height: 213px;
  margin-inline: auto;
}
@media (min-width: 1262px) {
  .overall-info__topic img {
    grid-row: span 2;
    width: 394px;
    height: 250px;
  }
}
.overall-info .description__content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
@media (min-width: 1262px) {
  .overall-info .description__content {
    max-width: 704px;
  }
}
.overall-info__description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 20px;
}
@media (min-width: 1262px) {
  .overall-info__description {
    margin-top: 64px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 17px;
  }
}
.overall-info__description span {
  color: var(--color-accent);
  font-weight: 700;
}
.overall-info__description img {
  width: 335px;
  height: 402px;
  margin-inline: auto;
}
@media (min-width: 1262px) {
  .overall-info__description img {
    width: 474px;
    height: 528px;
  }
}
.overall-info__comment {
  margin-top: 30px;
}
@media (min-width: 1262px) {
  .overall-info__comment {
    margin-top: 38px;
  }
}

table {
  margin-top: 20px;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}
@media (min-width: 1262px) {
  table {
    margin-top: 44px;
  }
}
table tr {
  height: 56px;
  width: 100%;
  display: inline-block;
  border-bottom: var(--border-table-inner);
  padding-block: auto;
}
table th {
  font-weight: 400;
  width: 322px;
  color: var(--color-table);
}
@media (min-width: 1262px) {
  table th {
    width: 322px;
    border-right: var(--border-table-inner);
  }
}
table th,
table td {
  display: inline;
  white-space: nowrap;
  vertical-align: middle;
  padding-inline: 6px;
}
@media (min-width: 1262px) {
  table th,
  table td {
    padding-inline: 16px;
    padding-block: auto;
    text-align: left;
  }
}

.border-none span {
  text-decoration: line-through;
  text-decoration-color: var(--color-accent);
  color: var(--color-main);
  font-weight: 700;
  margin-right: 12px;
}

.border-none {
  border-collapse: collapse;
  border: none;
}

.border-none th:not(:last-child) {
  border-right: none;
}
@media (min-width: 1262px) {
  .border-none th:not(:last-child) {
    border-right: var(--border-table-inner);
  }
}

.border-none tr:not(:last-child) {
  border-bottom: var(--border-table-inner);
}

.border-none tr:last-child {
  border-bottom: none;
}
@media (min-width: 1262px) {
  .border-none tr:last-child {
    border-bottom: var(--border-table-inner);
  }
}

@media (min-width: 1262px) {
  .border-none th:last-child {
    display: block;
    border-right: var(--border-table-inner);
  }
}

.border-none {
  border-collapse: collapse;
  border: none;
}

.border-none tr:first-child td {
  border-top: none;
}

.border-none tr:last-child td {
  border-bottom: none;
}

.border-none tr td:first-child {
  border-left: none;
}

.border-none tr td:last-child {
  border-right: none;
}

.border-none tr:first-child th {
  border-top: none;
}

.border-none tr:last-child th {
  border-bottom: none;
}

.border-none tr th:first-child {
  border-left: none;
}

.border-none tr th:last-child {
  border-right: none;
}

@media (max-width: 375px) {
  .border-none tr:last-child {
    border-bottom: none;
  }
}/*# sourceMappingURL=styles.css.map */